@model IEnumerable<string>

<div data-role="navbar">
    <ul>
        @foreach (var link in Model)
        {
            <li>
                @Html.RouteLink(link, new
                {
                    controller = "Smartphone",
                    action = "List",
                    manufacturer = link,
                    page = 1
                }, new
                {
                    data_transition = "fade",
                    @class = (link == ViewBag.SelectedManufacturer ? "ui-btn-active" : null)
                })
            </li>
        }
    </ul>
</div>